# Fix mythos
server {
    listen 80;

    root /Users/franklin/Code/mythos;
    index index.php index.html index.htm;

    server_name mythos.l;

    location = / {
        rewrite / /dispatch.php;
    }

    location / {
        try_files $uri $uri/ @handler;
    }

    location @handler {
        rewrite / /dispatch.php;
    }

    set $php_log /Users/franklin/Code/mythos/var/log/php_errors.log;
    include /etc/nginx/php.conf;
}

# Fix Magento Servers
server {
    listen 80;

    server_name ~^(?<subdomain>.*?).?magento\.l;
    set $mage_run_code $subdomain;
    set $mage_run_type "website";

    root /Users/franklin/Code/magento;
    index index.php index.html index.htm;

    include /etc/nginx/magento;
    include /etc/nginx/php.conf;
}

# Default local servers
server {
    listen 80;

    server_name l ~^(?<subdomain>.+)\.l;

    root /Users/franklin/Code/$subdomain;

    location / {
        autoindex on;
        index index.php index.html index.htm;
    }

    set $php_log /Users/franklin/Code/$subdomain/php_errors.log;
    include /etc/nginx/php.conf;
}
